<div class="ml-3">
  <p class="text-justify">
    Et maintenant, <span class="wght-bold">comment accédez-vous aux collections ?</span><br>
    Les collections se trouvent dans les bâtiments autour de la pyramide donc vous allez <span class="wght-bold">devoir (re)monter</span> ! Et c'est là que <span class="wght-bold">vous allez commencer à faire des choix</span> !<br>
    Vous avez <span class="wght-bold">3 accès</span> pour les collections : <span class="wght-bold">DENON, SULLY et RICHELIEU</span>. En fonction des collections que vous souhaitez voir en premier, vous prendrez un de ces accès.<br>
    Par exemple :<br>
    Vous voulez voir la Joconde ? Prenez l'accès Denon.<br>
    Vous voulez voir les Antiquités égyptiennes ? Prenez l'accès Sully.<br>
    Vous voulez voir les Appartements de Napoléon III ? Prenez l'accès Richelieu.<br>
    Sachez, qu'à l'intérieur des collections, il existe des <span class="wght-bold">connexions entre les différents bâtiments</span> au niveau 0, 1 et 2 (uniquement entre SULLY et RICHELIEU pour ce dernier). Vous pouvez aussi revenir dans le hall d'accueil, ATTENTION, si vous avez un billet acheté en ligne ou sur place, vous êtes limité à <span class="wght-bold">3 passages</span>.
  </p>
  <p class="text-justify">Un petit <span class="wght-bold">schéma pour résumé</span> tout ça, il se lit <span class="wght-bold">de bas en haut</span> :</p>
  <p class="text-center"><img class="img-fluid border p-3" src="public/images/museum_zone/entrances_collections.jpg" alt="Accès aux collections"></p>
</div>
