<div class="ml-3 my-3">
  <div class="row my-0">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/queue.png" alt="file d'attente">
    </div>
    <div class="col">
      <p class="text-justify">Au musée du Louvre, <span class="wght-bold">il y a du monde</span> ! Eh oui, c'est le musée le plus fréquenté du monde, il reçoit <span class="wght-bold">en moyenne 30 000 visiteurs par jour</span> dont près de 80% viennent voir la Joconde !</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/calendar_check.png" alt="calendrier">
    </div>
    <div class="col">
      <p class="text-justify"><span class="wght-bold">Evitez</span> les périodes de la <span class="wght-bold">semaine de Pâques, estivale, et de la fin d'année</span>. C'est plein !</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/rain.png" alt="pluie">
    </div>
    <div class="col">
      <p class="text-justify"><span class="wght-bold">Evitez</span> aussi les jours <span class="wght-bold">de pluie</span>. C'est encore plus plein !</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/monday.png" alt="lundi">
    </div>
    <div class="col">
      <p class="text-justify">
        <span class="wght-bold">Evitez</span> également <span class="wght-bold">les lundis</span>. C'est aussi plein ! Car c'est le jour de fermeture du Château de Versailles et du Musée d'Orsay.<br>
        La combinaison le pire est donc de venir un <span class="wght-bold">lundi pluvieux le lendemain de Noël</span> !
      </p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/booking.png" alt="réserver">
    </div>
    <div class="col">
      <p class="text-justify"><span class="wght-bold">Réservez en ligne</span> votre titre d'accès (payant ou gratuit), c'est la <span class="wght-bold">garantie d'entrer</span> sans trop d'attente.</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/time.png" alt="horloge">
    </div>
    <div class="col">
      <p class="text-justify"><span class="wght-bold">Privilégiez</span> le moment de <span class="wght-bold">l'ouverture ou la nocturne du mercredi</span> après 19h30 pour <span class="wght-bold">voir les oeuvres les plus connues</span>.</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/pickpocket.png" alt="pickpocket">
    </div>
    <div class="col">
      <p class="text-justify">Malheureusement, la forte fréquentation implique aussi l'avidité de certains... Effectivement, des <span class="wght-bold">pickpockets</span> agissent <span class="wght-bold">aux abords du musée</span> en particulier dans les files d'attente ou dans les <span class="wght-bold">zones très fréquentées des collections</span>. <span class="wght-bold">Soyez vigilant</span> !</p>
    </div>
  </div>
</div>
<div class="ml-3 mb-3">
  <div class="row my-0">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/big.png" alt="grand">
    </div>
    <div class="col" id="big-advice">
      <p class="text-justify">Cette information ne vous sera jamais assez répétée : <span class="wght-bold">le musée du Louvre, c'est grand</span>.</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/pantoufle.png" alt="pantoufles">
    </div>
    <div class="col">
      <p class="text-justify">Adoptez une <span class="wght-bold">tenue confortable</span> !</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/choice.png" alt="choix">
    </div>
    <div class="col">
      <p class="text-justify">Acceptez de <span class="wght-bold">faire des choix</span>.</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/deception.png" alt="déception">
    </div>
    <div class="col">
      <p class="text-justify">Il peut y <span class="wght-bold">avoir des imprévus</span> (salles prévues ouvertes et finalement, fermées), <span class="wght-bold">résignez-vous</span> à ne pas voir, cette fois-ci, ce que vous aviez prévu de découvrir et <span class="wght-bold">adaptez-vous</span>. Il y a tellement de choses à voir !</p>
    </div>
  </div>
  <div class="row my-0 ml-5">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/icon8/prepare_50.png" alt="préparation">
    </div>
    <div class="col">
      <p class="text-justify">
        Plus vous vous <span class="wght-bold">préparez en amont</span>, plus vous pourrez <span class="wght-bold">profiter sur place</span>.<br>
        <span class="wght-bold">Se préparer c’est prendre les informations qui vous seront nécessaires</span>. Inutiles de vouloir apprendre toutes les œuvres présentées !
      </p>
    </div>
  </div>
  <div class="row my-0">
    <div class="col-lg-1 col-2 text-center">
      <img class="img-fluid" src="public/images/logo/logo-black.png" alt="logo site">
    </div>
    <div class="col">
      <p class="text-justify">
        <span class="wght-bold text-uppercase">destination : louvre</span>, est là pour ça ! Vous <span class="wght-bold">aidez dans cette phase de préparation</span> et même <span class="wght-bold">vous accompagner pendant votre visite</span> si vous <span class="wght-bold">devenez membre.</span><br>
        Alors, vous vous sentez prêt ? Maintenant que vous avez compris ce qu’est le musée du Louvre, voyez comment <span class="wght-bold"><span class="text-uppercase">destination : louvre</span> va vous aider</span>.<br>
        3, 2, 1, c’est parti pour <span class="wght-bold">la <a href="preparation.html" class="text-uppercase">préparation</a></span> !
      </p>
    </div>
  </div>
</div>
