<div class="row my-1">
  <div class="offset-lg-1 pl-0">
    <p class="text-justify">
      Dans cette rubrique, vous trouverez une <span class="wght-bold">sélection de 25 oeuvres</span>. cette sélection, tout à fait subjective, regroupe des <span class="wght-bold">oeuvres très connues et d'autres moins</span> qui vous permettront de <span class="wght-bold">d'avoir un apperçu de la richesse des collections du musée</span>.<br>
      Vous avez la possibilité de sélectionner soit <span class="wght-bold">toutes les oeuvres proposées</span> soit les <span class="wght-bold">oeuvres visibles un jour donné</span>.
    </p>
    <p class="text-justify">
      Les jours où le musée est <span class="wght-bold">ouvert jusqu'à 21h45</span>, vous devez <span class="wght-bold">sélectionner le moment</span> où vous souhaitez voir les oeuvres soit avant 17h30 soit après car cela <span class="wght-bold">peut avoir un effet sur leur visibilité</span>.
    </p>
    <p class="text-justify">
      La sélection se présentera sous la forme d'un tableau avec la possibilité de localiser les oeuvres visibles ou non sur un plan (cf ci-dessous). 
    </p>
    <div class="row mx-lg-1">
        <div class="col-lg text-center border p-1 mr-lg-1">
          <img class="img-fluid" src="public/images/site_zone/aw-table.jpg" alt="exemple table oeuvres">
        </div>
        <div class="col-lg text-center border p-1">
          <img class="img-fluid" src="public/images/preparation_zone/aw_map_3_noc.jpg" alt="exemple table oeuvres">
        </div>
    </div>
  </div>
</div>
