<div class="table-responsive text-center w-100 d-none" id="artworks-result-body">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th class="text-uppercase" scope="col">#</th>
        <th class="text-uppercase" scope="col">aperçu</th>
        <th class="text-uppercase" scope="col">nom et auteur</th>
        <th class="text-uppercase" scope="col">salle</th>
        <th class="text-uppercase" scope="col">niveau</th>
        <th class="text-uppercase" scope="col">aile</th>
      </tr>
    </thead>
    <tbody id="tbody-aw"></tbody>
  </table>
</div>
