<div class="ml-3">
  <p class="text-justify">Les collections sont présentées dans les 3 ailes et sur <span class="wght-bold">4 niveaux</span> : entresol (-1), rez-de-chaussée (0), 1er étage et 2ème étage (uniquement pour les ailes Richelieu et Sully).
  <p class="text-justify">Les collections se répartissent dans <span class="wght-bold">8 départements</span> (retenez-bien les <span class="wght-bold">codes couleurs</span> !) :</p>
  <div class="row mb-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/painting_dpt.jpg" alt="">
    </div>
  <div class="col">
    <p>Peintures</p>
  </div>
  </div>
  <div class="row my-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/sketching_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Arts graphiques (ce département présente ses collections sous forme d'expositions thématiques du fait de leur fragilité. Sinon, il n'est accessible que sur rendez-vous et sous conditions.)</p>
    </div>
  </div>
  <div class="row my-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/sculpture_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Sculptures</p>
    </div>
  </div>
  <div class="row my-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/decorative_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Objets d'art</p>
    </div>
  </div>
  <div class="row my-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/oriental_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Antiquités Orientales</p>
    </div>
  </div>
  <div class="row my-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/egypt_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Antiquités Egyptiennes</p>
    </div>
  </div>
  <div class="row my-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/ager_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Antiquités Grecques Etrusques et Romaines (AGER)</p>
    </div>
  </div>
  <div class="row mt-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/islam_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Arts de l'Islam</p>
    </div>
  </div>
  <p class="text-justify">Il existe aussi des <span class="wght-bold">présentations de collections qui sont un peu particulières</span> :</p>
  <div class="row mb-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/pavillon_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Pavillon de l'Horloge : 3 espaces dédiés à l'<span class="wght-bold">histoire du palais</span>, une <span class="wght-bold">présentation</span> et l'<span class="wght-bold">actualité de ses collections</span>.</p>
    </div>
  </div>
  <div class="row my-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/omer_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Arts du Proche-orient et de l'Egypte : salles présentant des oeuvres issues des départements suivants : <span class="wght-bold">AGER, Antiquités orientales et égyptiennes</span></p>
    </div>
  </div>
  <div class="row mt-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/branly_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Arts d'Afrique, d'Asie, des Amériques et d'Océanie : présentation de collections provenant du <span class="wght-bold">Musée du Quai Branly</span>.</p>
    </div>
  </div>
  <div class="row mt-0">
    <div class="col-sm-1 col-2 text-right">
      <img class="icon8-small rounded" src="public/images/dpt/pg_dpt.jpg" alt="">
    </div>
    <div class="col">
      <p>Petite Galerie : présentation sur une <span class="wght-bold">thématique donnée</span> le temps d'une année scolaire.</p>
    </div>
  </div>
  <p class="text-justify">Sur les plans ci-dessous, vous pouvez voir la <span class="wght-bold">répartition des collections</span> dans le musée et ainsi commencer à appréhender sa complexité.</p>
  <div class="row m-1 border p-3 text-left">
      <h4 class="m-1">NIVEAU -2 / -1</h4>
      <img class="img-fluid img-zoom" src="public/images/museum_zone/collections_niveau-1.jpg" alt="collections niveau-1">
      <h4 class="m-1">NIVEAU 0</h4>
      <img class="img-fluid img-zoom" src="public/images/museum_zone/collections_niveau0.jpg" alt="collections niveau 0">
          <h4 class="m-1">NIVEAU 1</h4>
      <img class="img-fluid img-zoom " src="public/images/museum_zone/collections_niveau1.jpg" alt="collections niveau 1">
      <h4 class="m-1">NIVEAU 2</h4>
      <img class="img-fluid img-zoom" src="public/images/museum_zone/collections_niveau2.jpg" alt="collections niveau 2">
  </div>
</div>
