<div class="row mt-1">
  <div class="offset-lg-1 pl-0">
    <p class="text-justify">Il est ici question d'<span class="wght-bold">accèder au hall d'accueil</span> du musée qui se touve sous la grande pyramide. Il ne sera <span class="wght-bold">pas</span> question <span class="wght-bold">de l'accès aux collections</span>.
      Comme expliqué précedemment , pour <span class="wght-bold">arriver dans le hall d'accueil</span>, vous avez <span class="wght-bold">différentes possibilités</span>. Ces possibilités sont conditionnées par le fait que <span class="wght-bold">vous ayez ou non un titre d'accès et si oui, lequel</span>.</p>
    <p class="text-justify">Ainsi, vous allez pouvoir <span class="wght-bold">sélectionner votre cas et voir les différentes entrées</span> qui vous sont possibles. Ci-dessous, vous avez la <span class="wght-bold">liste des différents cas</span> proposés à la sélection :<br>
    <ul class="list-style text-justify">
      <li><span class="wght-bold">Sans billet</span> : si vous souhaitez acheter votre billet sur place.</li>
      <li><span class="wght-bold">E-billet</span> : billet horodaté acheté sur le site officiel du musée ou un site partenaire ET réservation gratuite prise sur le site officiel.</li>
    </ul>
      <p>ACCES GRATUITS :</p>
      <ul class="list-style text-justify">
        <li class="wght-bold">-26 ans de l'EEE [<a target="_blank" href="http://accueil-etrangers.gouv.fr/modeles/articles-lies/article/consultez-la-liste-des-pays-de-l">liste des pays</a>]</li>
        <li class="wght-bold">-18 ans</li>
        <li><span class="wght-bold">Demandeurs d'emploi</span> :demandeurs d'emploi et bénéficiares de minima sociaux.</li>
        <li class="wght-bold">Personne handicapée</li>
      </ul>
      <p>ACCES LIBRES :</p>
      <ul class="list-style text-justify">
        <li><span class="wght-bold">Adhérents</span> ; concerne tous les types d'adhésion au musée (Amis du Louvre, Professionnels).</li>
        <li><span class="wght-bold">Partenaires</span> : concerne les partenariats entre certaines entreprises et le musée qui permet l'accès libre à leurs salariés aux collections et expositions.</li>
        <li><span class="wght-bold">Presse</span> : carte nationale ou internationale</li>
        <li class="wght-bold">ICOM / ICOMOS</li>
        <li class="wght-bold">Pass Education</li>
      </ul>
  </div>
</div>
