<div class="ml-3">
  <p class="text-justify">Vous voilà arrivez à proximité du musée mais <span class="wght-bold">comment y entrez-vous</span> ?</p>
  <p class="text-justify">Pour bien différencier les choses entre <span class="wght-bold">entrer dans le hall d’accueil, nous parlerons toujours d’une « entrée »</span> et <span class="wght-bold">entrer dans les collections, il sera toujours question d’ un « accès »</span>.</p>
  <p class="text-justify"> Une chose importante à comprendre, pour <span class="wght-bold">accéder au hall d'accueil</span>, vous allez devoir <span class="wght-bold">descendre en sous-sol</span> et plus précisément au <span class="wght-bold">NIVEAU -2</span> !</p>
  <p class="text-justify">Pour aller dans le <span class="wght-bold">hall d'accueil qui se situe sous la grande pyramide</span>, vous avez <span class="wght-bold">3 choix</span> et ce choix <span class="wght-bold">dépendra de la possession ou non d'un titre d'accès et si oui, lequel</span> :</p>
  <ol class="text-justify">
    <li><span class="wght-bold">La grande pyramide</span> (noté PYRAMIDE ci-après) : quelque soit votre cas, vous trouverez forcément une file qui vous convient.</li>
    <li><span class="wght-bold">La galerie marchande du Carrousel</span> (noté CARROUSEL ci-après) : située au 99 rue de Rivoli, pour les personnes n'ayant pas encore leur billet, les gratuités ne bénéficiant pas de priorité, les personnes en situation de handicap et leur accompagnateur.</li>
    <li><span class="wght-bold">Le passage Richelieu</span> : situé au 93 rue de Rivoli, entre la place du Palais-Royal et la grande pyramide. Cet accès est réservé aux personnes ayant un billet horodaté ou à celles bénéficiant d'un ACCES LIBRE.</li>
  </ol>
  <p class="text-center"><img class="img-fluid border p-3" src="public/images/museum_zone/entrances_general.jpg" alt="Louvre entrées générales"></p>
  <p class="text-justify">Vous noterez l'existence d'une autre entrée : la <span class="wght-bold">Porte des lions</span> située dans le jardin du Carrousel. Cette entrée vous donne <span class="wght-bold">accès directement au niveau 0 de l'aile Denon</span> aux collections du Musée du Quai Branly et au niveau 1 aux collections de peintures espagnoles et italiennes du 18è siècle. Mais, les <span class="wght-bold">conditions d'accès</span> à cette entrée peuvent <span class="wght-bold">varier</span> (nécessité d'avoir ou non un titre d'accès par exemple) ou il arrive qu'elle <span class="wght-bold">soit fermée</span>. De plus, il n'y a <span class="wght-bold">pas de point d'accueil ni de vestiaire/bagagerie</span>. C'est l'entrée un peu secrète, pour les visiteurs avertis !</p>
  <p class="text-justify pt-3">Les différentes files aux différentes entrées sont identifiées par un code couleur :</p>
  <div class="row align-items-top mb-sm-1">
    <div class="col-sm-1 col-2 text-right">
      <img class="img-fluid title-img w-lg-25 border border-warning" src="public/images/entrance/sans_titre.png" alt="">
    </div>
    <div class="col">
      <p class="text-justify">Personnes sans billets et les gratuités ne bénéficiant pas de priorité (jeunes de -18 ans, jeunes de -26 ans de l'EEE, demandeurs d'emploi, bénéficiaires de minima sociaux).</p>
    </div>
  </div>
  <div class="row align-items-top mb-sm-1">
    <div class="col-sm-1 col-2 text-right">
      <img class="img-fluid title-img border border-primary" src="public/images/entrance/pmr.png" alt="">
    </div>
    <div class="col">
      <p class="text-justify">Personnes en situation de handicap et leur accompagnateur.</p>
    </div>
  </div>
  <div class="row align-items-top mb-sm-1">
    <div class="col-sm-1 col-2 text-right">
      <img class="img-fluid title-img border border-dark" src="public/images/entrance/cartes.png" alt="">
    </div>
    <div class="col">
      <p class="text-justify">Porteurs de cartes (adhérent, entreprises partenaires, pass'éducation, presse, ICOM/ICOMOS, ...).</p>
    </div>
  </div>
  <div class="row align-items-top mb-sm-1">
    <div class="col-sm-1 col-2 text-right">
      <img class="img-fluid title-img border border-success" src="public/images/entrance/e-billets.png" alt="">
    </div>
    <div class="col">
      <p class="text-justify">Personnes avec un titre d'accès horodaté (payant ou gratuit).</p>
    </div>
  </div>
  <p class="text-justify">Vous trouverez <span class="wght-bold">ci-dessous un résumé schématique</span> de ce qui vient de vous être expliqué.</p>
  <p class="text-center"><img class="img-fluid border p-3" src="public/images/museum_zone/entrances.jpg" alt="Louvre outside entrances"></p>
</div>
