<p class="text-justify mb-0">Ce site va vous permettre d'<span class="wght-bold">accèder aux informations pratiques et nécessaires pour bien organiser votre visite</span> au musée du Louvre.</p>
<p class="text-justify mb-0">Ces informations sont regroupés en <span class="wght-bold">4 catégories</span> :</p>
<ul class="mb-1 mb-lg-3">
  <li><span class="mr-1"><img class="icon8-small" src="public/images/icon8/billetterie.png" alt="icône titre d'accès"></span>Les entrées</li>
  <li><span class="mr-1"><img class="icon8-small" src="public/images/icon8/hours.png" alt="icône horaires"></span>Les horaires.</li>
  <li><span class="mr-1"><img class="icon8-small" src="public/images/icon8/close.png" alt="icône salles fermées"></span>Les salles fermées</li>
  <li><span class="mr-1"><img class="icon8-small" src="public/images/icon8/masterpiece.png" alt="icône oeuvres"></span>Les oeuvres (enfin, pas toutes mais une sélection !)</li>
</ul>
<div class="row align-items-center">
  <div class="col">
    <p class="text-justify my-0">
      Ce site est entièrement responsive. Il a été pensé pour un usage sur ordinateur, tablette et smartphone.
      Nous vous conseillons d'utiliser un <span class="wght-bold">ordinateur ou une tablette pour la phase de <span class="text-uppercase">préparation</span></span> et de réserver le <span class="wght-bold">smartphone pour votre <span class="text-uppercase">visite</span></span>.
    </p>
  </div>
  <div class="col-1  mr-3">
    <p class="text-center my-0"><img class="icon8-big" src="public/images/icon8/responsive.png" alt="logo responsive"></p>
  </div>
</div>
