<div class="link-btn-zone mx-lg-3 mx-1 my-lg-5 my-1">
  <div class="row text-center">
    <a class="col-lg shadow mb-5 bg-white rounded border-0 p-1 mx-1 link-card" href="site.html">
      <img class="img-fluid mx-auto icon8-size" src="public/images/icon8/manual.png" alt="icone site">
      <h3 class="text-uppercase mt-3">le site</h3>
      <h4>Je comprends ce site en moins de 5 minutes.</h4>
    </a>
    <a class="col-lg shadow mb-5 bg-white rounded border-0 p-1 mx-1 link-card" href="museum.html">
      <img class="img-fluid mx-auto icon8-size" src="public/images/icon8/museum.png" alt="icône musée">
      <h3 class="text-uppercase mt-3">le musée</h3>
      <h4>J'appréhende le musée en 7 points et quelques conseils.</h4>
    </a>
    <a class="col-lg shadow mb-5 bg-white rounded border-0 p-1 mx-1 link-card" href="preparation.html">
      <img class="img-fluid d-block mx-auto icon8-size" src="public/images/icon8/prepare.png" alt="icone preparation">
      <h3 class="text-uppercase mt-3">préparation</h3>
      <h4>Je prends le temps de me préparer.</h4>
    </a>
    <a class="col-lg shadow mb-5 bg-white rounded border-0 p-1 mx-1 link-card" href="visit.html">
      <img class="img-fluid mx-auto icon8-size" src="public/images/icon8/vip.png" alt="icone preparation">
      <h3 class="text-uppercase mt-3">visite</h3>
      <h4>Et maintenant, je profite !</h4>
    </a>
    <a class="col-lg shadow mb-5 bg-white rounded border-0 p-1 mx-1 link-card" href="account.html">
      <img class="img-fluid mx-auto icon8-size" src="public/images/icon8/user.png" alt="icone preparation">
      <h3 class="text-uppercase mt-3">profil</h3>
      <h4>Je gère mon compte.</h4>
    </a>
  </div>
</div>
