<div class="alert alert-light alert-dismissible fade show my-1" role="alert">
			<h4 class="alert-heading text-uppercase wght-bold">important !</h4>
            <hr class="small-hr">
            <p class="text-justify mb-0">Ce site est un projet qui a été développé dans le cadre de la formation "Dévelopeur Web Junior" d'Openclassrooms.<br>
                Les informations sur le Musée du Louvre qui y figurent peuvent être obsolètes ou erronées.<br>
                Pour être sûr d'avoir les bonnes informations, rendez-vous sur le site officiel <a href="https://www.louvre.fr" target="blank" class="alert-link" title="lien vers le site officiel">louvre.fr</a>.
            </p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
<div class="shadow mb-lg-5 mb-1 bg-white rounded border-0 p-lg-3 p-0 carousel-zone">
	<div id="carousel" class="carousel slide carousel-fade mx-auto d-flex align-items-center" data-interval="3500" data-ride="carousel" data-pause="hover">
		<a class="carousel-prev ml-1" href="#carousel" role="button" data-slide="prev">
			<span class="carousel-prev-icon" aria-hidden="true"><i class="fas fa-angle-left"></i></span>
			<span class="sr-only">Précédent</span>
		</a>
	  <div class="carousel-inner">
	    <div class="carousel-item active px-0">
				<div><img src="public/images/diaporama/diapo1.jpg" class="img-fluid d-block" alt="diapo 1"></div>
			</div>
	    <div class="carousel-item px-0">
				<div><img src="public/images/diaporama/diapo2.jpg" class="img-fluid d-block" alt="diapo 2"></div>
			</div>
			<div class="carousel-item px-0">
				<div><img src="public/images/diaporama/diapo3.jpg" class="img-fluid d-block" alt="diapo 3"></div>
			</div>
			<div class="carousel-item px-0">
				<div><img src="public/images/diaporama/diapo4.jpg" class="img-fluid d-block" alt="diapo 4"></div>
			</div>
			<div class="carousel-item px-0">
				<div><img src="public/images/diaporama/diapo5.jpg" class="img-fluid d-block" alt="diapo 5"></div>
			</div>
			<div class="carousel-item px-0">
				<div><img src="public/images/diaporama/diapo6.jpg" class="img-fluid d-block" alt="diapo 6"></div>
			</div>
		</div>
	  <a class="carousel-next mr-1" href="#carousel" role="button" data-slide="next">
	    <span class="carousel-next-icon" aria-hidden="true"><i class="fas fa-angle-right"></i></span>
	    <span class="sr-only">Suivant</span>
	  </a>
	 </div>
</div>
<div class="link-btn-zone mx-lg-1 mx-0">
	<div class="card-deck text-center">
		<a class="card shadow mb-lg-5 mb-1 mr-lg-1 bg-white rounded border-0 p-3 link-card" href="site.html">
			<img class=" img-fluid mx-auto icon8-big" src="public/images/icon8/manual.png" alt="icone site">
			<h3 class="text-uppercase mx-lg-3 mx-1">le site</h3>
			<h4 class="card-subtitle">Comprendre ce site en moins de 5 minutes.</h4>
		</a>
		<a class="card shadow mb-lg-5 mb-1 mr-lg-1 bg-white rounded border-0 p-3 link-card" href="museum.html">
			<img class="img-fluid mx-auto icon8-big" src="public/images/icon8/museum.png" alt="icône musée">
			<h3 class="text-uppercase mx-lg-3 mx-1">le musée</h3>
			<h4 class="card-subtitle">Appréhender le musée en 7 points et quelques conseils.</h4>
		</a>
		<a class="card shadow mb-lg-5 mb-1 bg-white rounded border-0 p-3 link-card" href="preparation.html">
			<img class="img-fluid mx-auto icon8-big" src="public/images/icon8/prepare.png" alt="icone preparation">
			<h3 class="text-uppercase mx-lg-3 mx-1">préparation</h3>
			<h4 class="card-subtitle">Prendre le temps de se préparer</h4>
		</a>
	</div>
</div>
