<div class="table-responsive text-center w-100" id="hours-result-body">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th class="text-uppercase align-text-top" scope="col" rowspan="2">jour</th>
        <th class="text-uppercase align-text-top" scope="col" rowspan="2">ouverture</th>
        <th class="text-uppercase align-text-top" scope="col" colspan="5">fermetures</th>
      </tr>
      <tr>
        <th scope="col">Caisse</th>
        <th scope="col">Accès</th>
        <th scope="col">Collections</th>
        <th scope="col">Musée</th>
        <th scope="col">Pyramide</th>
      </tr>
    </thead>
    <tbody id="hours-table-body"></tbody>
  </table>
</div>
