<div class="row mt-1">
  <div class="offset-lg-1 pl-0">
    <p class="text-justify">Dans la rubrique <span class="wght-bold">LES HORAIRES</span> vous trouverez logiquement l'ensemble des horaires du musée. Vous avez la possibilité de les voir en intégralité (pour chaque jour de la semaine) ou de sélectionner un jour.</p>
    <p class="text-justify">Vous constaterez que l<span class="wght-bold">'horaire d'ouverture</span> est toujours le même. En revanche, c'est différent pour sa <span class="wght-bold">fermeture</span>. Comme déjà évoqué, le musée du Louvre est un <span class="wght-bold">grand musée</span> et comme vous qui devez vous préparer pour le visiter, lui se doit de se <span class="wght-bold">préparer pour fermer</span> !</p>
    <p class="text-justify">Ainsi quand vous consultez les horaires, un <span class="wght-bold">tableau apparaît</span> et vous indique les <span class="wght-bold">horaires selon votre sélection</span> (cf ci-dessous). Dans ce tableau, vous retrouvez donc <span class="wght-bold">l'horaire d'ouverture et ceux des "différentes" fermetures</span>.</p>
    <p class="text-center border p-1"><img class="img-fluid" src="public/images/site_zone/hours-table.jpg" alt="exemple table horaires"></p>
    <p class="text-justify"> Voici pour <span class="wght-bold">expliciter ce tableau</span> à quoi correspondent les "différentes" fermetures :</p>
    <ul class="list-style text-justify">
      <li><span class="wght-bold">Caisses : dernière vente</span> de billets.</li>
      <li><span class="wght-bold">Accès : dernier accès vers les collections</span> à partir du hall d'accueil.</li>
      <li><span class="wght-bold">Salles : début de l'évacuation des salles</span>, c'est le moment où les agents dans les salles vous invite à vous diriger vers la sortie.</li>
      <li><span class="wght-bold">Musée : fermeture des portes des collections</span>, c'est-à-dire les 3 accès vers les collections.</li>
      <li><span class="wght-bold">Pyramide : dernier accès vers le hall d'accueil</span> depuis l'extérieur (par l'entrée de la pyramide ou la galerie du Carousel).</li>
    </ul>
  </div>
</div>
