<h4 class="text-uppercase wght-bold">multi-pages</h4>
 <a href="https://icons8.com/icon/57552/direction-ouest" target="blank">Direction Ouest (modifié)</a><br>
 <a href="https://icons8.com/icon/37757/pyramide-du-louvre" target="blank">Pyramide du Louvre (ios)</a><br>
 <a href="https://icons8.com/icon/3665/ticket" target="blank">Ticket</a><br>
 <a href="https://icons8.com/icon/3496/museum" target="blank">Museum</a><br>
 <a href="https://icons8.com/icon/30334/knowledge-sharing" target="blank">Knowledge Sharing</a><br>
 <a href="https://icons8.com/icon/26034/test-passed" target="blank">Test Passed</a><br>
 <a href="https://icons8.com/icon/11584/tapis-rouge" target="blank">Tapis rouge</a><br>
 <a href="https://icons8.com/icon/58133/dossier-utilisateur" target="blank">Dossier utilisateur</a><br>
 <a href="https://icons8.com/icon/646/aide" target="blank">Aide</a><br>
 <a href="https://icons8.com/icon/lgV4rk6iTP8z/erreur-de-verrouillage" target="blank">Erreur de verrouillage</a><br>
 <a href="https://icons8.com/icon/3857/escaliers-qui-montent" target="blank">Escaliers qui montent</a><br>
 <a href="https://icons8.com/icon/3855/escaliers-qui-descendent" target="blank">Escaliers qui descendent</a><br>
 <a href="https://icons8.com/icon/10627/escalator-montant" target="blank">Escalator montant</a><br>
 <a href="https://icons8.com/icon/10625/escalator-descendant" target="blank">Escalator descendant</a><br>
 <a href="https://icons8.com/icon/10643/ascenseur" target="blank">Ascenseur</a><br>
 <a href="https://icons8.com/icon/23537/close-window" target="blank">Close Window</a><br>
 <h4 class="text-uppercase wght-bold mt-3" target="blank">menu "membre"</h4>
 <a href="https://icons8.com/icon/24338/déconnexion-arrondi" target="blank">Déconnexion arrondi</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "musée"</h4>
 <a href="https://icons8.com/icon/4790/statue" target="blank">Statue (modifié)</a><br>
 <a href="https://icons8.com/icon/124232/fenix" target="blank">Fenix (modifié)</a><br>
 <a href="https://icons8.com/icon/4846/statue-équestre" target="blank">Statue équestre</a><br>
 <a href="https://icons8.com/icon/32241/scanner-de-code-barre" target="blank">Scanner de code barre (modifié)</a><br>
 <a href="https://icons8.com/icon/54829/ticket" target="blank">Ticket (modifié)</a><br>
 <a href="https://icons8.com/icon/11679/support" target="blank">Support</a><br>
 <a href="https://icons8.com/icon/35585/enregistrement-comptoir" target="blank">Enregistrement comptoir (modifié)</a><br>
 <a href="https://icons8.com/icon/1420/surface" target="blank">Surface</a><br>
 <a href="https://icons8.com/icon/1619/vestiaire" target="blank">Vestiaire</a><br>
 <a href="https://icons8.com/icon/33399/paiement-en-ligne" target="blank">Paiement en ligne</a><br>
 <a href="https://icons8.com/icon/_7P8IeuWigJL/alimentation-fast-food-street-food-18" target="blank">Alimentation Fast Food Street Food 18</a><br>
 <a href="https://icons8.com/icon/33831/siège-de-théâtre-occupé" target="blank">Siège de théâtre occupé</a><br>
 <a href="https://icons8.com/icon/20407/ressort-mécanique" target="blank">Ressort mécanique (modifié)</a><br>
 <a href="https://icons8.com/icon/87825/centre-commercial" target="blank">Centre commercial</a><br>
 <a href="https://icons8.com/icon/2768/casque-audio" target="blank">Casque audio</a><br>
 <a href="https://icons8.com/icon/611/restaurant" target="blank">Restaurant</a><br>
 <a href="https://icons8.com/icon/3734/groupe-d'utilisateurs" target="blank">Groupe d'utilisateurs</a><br>
 <a href="https://icons8.com/icon/2539/toilettes" target="blank">Toilettes</a><br>
 <a href="https://icons8.com/icon/17002/femme-veut-uriner" target="blank">Femme veut Uriner</a><br>
 <a href="https://icons8.com/icon/17004/homme-veut-uriner" target="blank">Homme veut Uriner</a><br>
 <a href="https://icons8.com/icon/2090/bébé" target="blank">Bébé</a><br>
 <a href="https://icons8.com/icon/23184/carte-d'identité" target="blank">Carte d'identité</a><br>
 <a href="https://icons8.com/icon/18563/pluie-importante" target="blank">Pluie importante</a><br>
 <a href="https://icons8.com/icon/37854/jour-de-repos" target="blank">Jour de repos</a><br>
 <a href="https://icons8.com/icon/15408/lundi" target="blank">Lundi</a><br>
 <a href="https://icons8.com/icon/660/nuit-partiellement-nuageuse" target="blank">Nuit partiellement nuageuse</a><br>
 <a href="https://icons8.com/icon/7377/pickpocket" target="blank">Pickpocket</a><br>
 <a href="https://icons8.com/icon/sVldq_DIrBfy/chaussons" target="blank">Chaussons</a><br>
 <a href="https://icons8.com/icon/15636/choix-multiple" target="blank">Choix multiple</a><br>
 <a href="https://icons8.com/icon/59271/ennuyeux" target="blank">Ennuyeux</a><br>
 <a href="https://icons8.com/icon/59220/foule" target="blank">Foule</a><br>
 <a href="https://icons8.com/icon/2787/arbre-à-feuilles-caduques" target="blank">Arbre à feuilles caduques</a><br>
 <a href="https://icons8.com/icon/4693/fontaine" target="blank">Fontaine</a><br>
 <a href="https://icons8.com/icon/24614/rues" target="blank">Rues</a><br>
 <a href="https://icons8.com/icon/37406/église" target="blank">Église</a><br>
 <a href="https://icons8.com/icon/5033/pont" target="blank">Pont</a><br>
 <a href="https://icons8.com/icon/25141/arc-de-triomphe" target="blank">Arc de triomphe</a><br>
 <a href="https://icons8.com/icon/13867/fenêtre-fermée" target="blank">Fenêtre fermée</a><br>
 <a href="https://icons8.com/icon/121657/yeux-heureux" target="blank">Yeux heureux</a><br>
 <a href="https://icons8.com/icon/3899/quête" target="blank">Quête</a><br>
 <a href="https://icons8.com/icon/3106/élément-eau" target="blank">Élément eau</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "site"</h4>
 <a href="https://icons8.com/icon/2169/plusieurs-équipements" target="blank">Plusieurs équipements</a><br>
 <a href="https://icons8.com/icon/9PCmBH8jLWpb/restauration-de-sauvegarde-sur-le-cloud" target="blank">Restauration de sauvegarde</a><br>
 <a href="https://icons8.com/icon/6481/signe-égal" target="blank">Signe égal</a><br>
 <a href="https://icons8.com/icon/11153/plus" target="blank">Plus</a><br>
 <a href="https://icons8.com/icon/2244/marche" target="blank">Marche</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "préparation" et "visite"</h4>
 <a href="https://icons8.com/icon/18637/giving-tickets" target="blank">Giving Tickets</a><br>
 <a href="https://icons8.com/icon/23/calendar" target="blank">Calendar</a><br>
 <a href="https://icons8.com/icon/34/clock" target="blank">Clock</a><br>
 <a href="https://icons8.com/icon/30279/close-sign" target="blank">Close Sign</a><br>
 <a href="https://icons8.com/icon/5219/portrait" target="blank">Portrait</a><br>
 <a href="https://icons8.com/icon/2502/carte-balisée" target="blank">Carte balisée</a><br>
 <a href="https://icons8.com/icon/3L3ARSJsYqHj/navigateur-mobile" target="blank">Navigateur mobile</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "connexion"</h4>
 <a href="https://icons8.com/icon/47269/carte-de-membre" target="blank">Carte de membre</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "inscription"</h4>
 <a href="https://icons8.com/icon/16745/ajouter-le-dossier" target="blank">Ajouter le dossier</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "parcours"</h4>
 <a href="https://icons8.com/icon/62076/pointer" target="blank">Pointer</a><br>
 <a href="https://icons8.com/icon/124347/u-turn" target="blank">U Turn</a><br>
 <a href="https://icons8.com/icon/3059/annuler" target="blank">Annuler (modifié)</a><br>
 <a href="https://icons8.com/icon/357/gauche" target="blank">Gauche (modifié)</a>
 <h4 class="text-uppercase wght-bold mt-3">Partie Administration</h4>
 <a href="https://icons8.com/icon/11697/tick-box">Tick Box</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "mentions légales"</h4>
 <a href="https://icons8.com/icon/47440/balance" target="blank">Balance</a><br>
 <a href="https://icons8.com/icon/25994/propriété" target="blank">Propriété</a><br>
 <a href="https://icons8.com/icon/4NUeu__UwtXf/entrepôt" target="blank">Entrepôt</a><br>
 <a href="https://icons8.com/icon/4047/cookies" target="blank">Cookies</a><br>
 <a href="https://icons8.com/icon/1106/image" target="blank">Image</a><br>
 <a href="https://icons8.com/icon/748/pile-de-photos" target="blank">Pile de photos</a><br>
 <a href="https://icons8.com/icon/24870/web-design" target="blank">Web Design</a><br>
 <h4 class="text-uppercase wght-bold mt-3">page "footer"</h4>
 <a href="https://icons8.com/icon/122767/louvre-pyramid" target="blank">Louvre Pyramid</a><br>
