<p class="text-center"><img class="img-fluid border p-3" src="public/images/site_zone/member-zone.jpg" alt="avantage membre"></p>
<p class="text-justify">En devenant <span class="wght-bold">membre</span>, vous aurez la possibilité de <span class="wght-bold">sauvegarder</span> les informations nécessaires à votre visite : <span class="wght-bold">votre jour de visite et votre titre d'accès</span>.<br>
  Enregistrer ces données, vous permettra d'<span class="wght-bold">accèder rapidement</span> aux informations essentiels pour votre jour de visite comme les <span class="wght-bold">entrées possibles</span> avec votre titre d'accès ou les <span class="wght-bold">salles prévues fermées</span> ainsi que la <span class="wght-bold">sélection d'oeuvres qui sera visibles</span> le jour-dit.
</p>
<p class="text-justify">Devenir <span class="wght-bold text-uppercase">membre</span>, c'est aussi accèder à des <span class="wght-bold">parcours de visite thématiques</span> qui vous <span class="wght-bold">guideront lors de votre visite</span>.</p> 
<p class="text-justify">
    Le but de ces parcours est vous proposer une <span class="font-weight-bold">promenade à travers les collection sur une thématique donnée</span>. Il n'y pas de commentaire d'oeuvres, il s'agit plus d'une <span class="font-weight-bold">aide pour découvrir les collections</span>.<br>
    Il y a un <span class="font-weight-bold">ordre à suivre</span> qui est le plus logique possible et <span class="font-weight-bold">limite la marche dans les salles</span> au maximum. Ils ont tous pour <span class="font-weight-bold">point de départ le hall d'accueil, niveau -2</span>.<br>
    Pour chaque parcours, vous avez un <span class="font-weight-bold">certain nombre d'étapes qui correspondent à une oeuvre</span>.<br>
    La <span class="font-weight-bold">durée est donnée à titre indicatif</span>. Effectivement rien de ne vous empêche de regarder les oeuvres autour de chaque oeuvre du parcours !
</p>
<p class="text-justify">
    Ils sont normalement, tous <span class="font-weight-bold">accessibles pour une personne à mobilité réduite</span>.<br>
    Quand il y a un <span class="font-weight-bold">changement de niveau</span> entre 2 étapes, les <span class="font-weight-bold">cheminements sont prévus par les escaliers</span> ou escaliers mécaniques (soyez respectueux des autres et laissez les ascenceurs à ceux qui en ont vraiment besoin). Toutefois, <span class="font-weight-bold">les ascenceurs les plus proches sont indiqués</span> sur le plan.
</p>
<p class="text-justify">Il existe actuellement <span class="wght-bold">6 parcours</span> :</p>
<ol>
  <li>Chefs d'oeuvre</li>
  <li>Découverte</li>
  <li>Jeunes enfants</li>
  <li>Junior égyptien</li>
  <li>Junior oriental</li>
  <li>Chefs d'oeuvre méconnus</li>
</ol>
<p class="text-justify mb-3">Alors, convaincu(e) ? Cliquez <a class="wght-bold text-uppercase" href="suscribe.html" title="page inscription">ici</a> pour devenir membre.</p>
<p class="text-justify">Vous avez bien compris ce que nous allons vous apporter ? Alors, c'est parti pour le <a class="wght-bold text-uppercase" href="museum.html" title="page inscription">musée</a>.</p>
