<div class="ml-3">
  <p class="text-justify">
    Vous êtes arrivé dans le <span class="wght-bold">hall d'accueil (ou hall Napoléon)</span>. Vous êtes sous la pyramide, niveau -2.<br>
    Avant de vous lancer dans les collections, regardez un peu ce que vous y trouvé :
  </p>
  <p class="text-center"><img class="img-fluid border p-3" src="public/images/museum_zone/hall.jpg" alt="Louvre hall accueil"></p>
  <p class="text-justify">Expliquons un peu cela :</p>
  <div class="row">
    <div class="col-lg-1 col-2">
      <p><img class="img-fluid" src="public/images/icon8/point_info.png" alt="icône point information"></p>
    </div>
    <div class="col">
      <p class="text-justify">A l'<span class="wght-bold">Information</span> vous pourrez <span class="wght-bold">récupérer un plan du musée</span>, <span class="wght-bold">demander les informations nécessaires</span> pour votre visite ou vous <span class="wght-bold">aider à vous orienter</span>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-2">
      <p><img class="img-fluid" src="public/images/icon8/billetterie.png" alt="icône billetterie"></p>
    </div>
    <div class="col">
      <p class="text-justify">
        La <span class="wght-bold">Billetterie</span> va vous permettre, évidemment, d'<span class="wght-bold">acheter votre billet</span> (si vous avez un <span class="wght-bold">accès libre ou gratuit</span>, vous n'avez <span class="wght-bold">pas besoin de retirer de billets</span>) mais aussi de <span class="wght-bold">prendre le billet pour l'audioguide</span> ou encore de <span class="wght-bold">réserver une visite guidée</span>.<br>
        Si vous prenez un <span class="wght-bold">audioguide</span> <img class="img-fluid" src="public/images/icon8/audioguide.png" alt="icône audioguide">, vous devez ensuite <span class="wght-bold">vous rendre au niveau -1</span> juste avant les points de contrôle des titres, à chaque accès, vous avez un bureau pour le retirer.<br>
        Si vous réservez une <span class="wght-bold">visite guidée</span>, vous devez <span class="wght-bold">vous rendre à l'Accueil des groupes</span> <img class="img-fluid" src="public/images/icon8/groupe.png" alt="icône groupe"> (situé de l'autre côté du hall d'accueil) 15 min avant l'horaire.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-2">
      <p><img class="img-fluid" src="public/images/icon8/sav_billet.png" alt="icône SAV billet"></p>
    </div>
    <div class="col">
      <p class="text-justify">
        Vous rencontrez un problème avec votre billet acheté sur le site du musée ? Présentez-vous à l'<span class="wght-bold">Assistance billeterie</span> pour y trouver une solution.<br>
        Pour rappel, les billets achetés en ligne sont modifiables avant le jour prévu de la visite et ne sont pas remboursables. Les billets achetés sur place sont ni échangeables ni remboursables.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-2">
      <p><img class="img-fluid" src="public/images/icon8/assistance.png" alt="icône assistance"></p>
    </div>
    <div class="col">
      <p class="text-justify">
        A l'<span class="wght-bold">Assistance</span>, vous pourrez emprunter un <span class="wght-bold">fauteuil roulant, un siège pliant, une canne, une poussette, ou encore un porte-bébé</span>. Ce matériel vous sera gracieusement <span class="wght-bold">prêté contre une pièce d'identité</span>.<br>
        Vous viendrez aussi ici vous avez <span class="wght-bold">trouvé ou perdu un objet</span>, si vous avez <span class="wght-bold">perdu votre enfant</span> (cela peut arriver même au meilleur !), si vous vous êtes <span class="wght-bold">fait voler dans le musée</span> (malheureusement, cela peut aussi arriver...). Dans ce dernier cas, vous avez la <span class="wght-bold">possibilité de déposer plainte</span> directement dans cet espace.<br>
        Enfin, si vous souhaitez <span class="wght-bold">laisser une remarque écrite</span>, c'est toujours ici.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-2">
      <p><img class="img-fluid" src="public/images/icon8/vestiaire.png" alt="icône vestiaire"></p>
    </div>
    <div class="col">
      <p class="text-justify">
        Déposez vos effets personnels aux <span class="wght-bold">Vestiaires</span> (bagages, sacs, vêtements, parapluies...) pour visiter confortablement !<br>
        Les <span class="wght-bold">grands sacs</span> et les <span class="wght-bold">grands parapluies</span> doivent être <span class="wght-bold">obligatoirement</span> laissés au vestiaire.<br>
        <span class="wght-bold">ATTENTION ! Tous les bagages ne sont pas acceptés</span>. La taille <span class="wght-bold">maximum</span> est celle d'un <span class="wght-bold">bagage cabine</span>. Evitez aussi de venir avec des trottinettes, skate-board... Vous risquez de ne pas pouvoir entrer !
      </p>
    </div>
  </div>
</div>
