<div class="row mt-1">
  <div class="offset-lg-1 pl-0">
    <p class="text-justify">
      Vous vous souvenez : le <span class=wght-bold>musée du Louvre est un grand musée</span>. Et de ce fait, <span class=wght-bold>chaque jour, certaines salles sont fermées</span>. Ces fermetures sont organisées <span class=wght-bold>selon un calendrier hebdomadaire</span>.<br>
      Vous allez pouvoir ici <span class=wght-bold>sélectionner un jour pour connaître les salles fermées</span> ce qui vous permettra de choisir la meilleure journée en fonction de ce que vous souhaitez voir.<br>
      Les jours où le musée <span class=wght-bold>ferme à 21h45</span>, une <span class=wght-bold>distinction</span> est faite entre la <span class=wght-bold>journée complète (9h00 - 21h45) : salles en gris clair avec les numéros en blanc</span> et uniquement <span class=wght-bold>la soirée (17h30 - 21h45) : salles en bleu foncé avec les numéros en jaune</span>. Il est important de <span class=wght-bold>prendre en considération cette distinction</span> car cela peut <span class=wght-bold>décider de l'organisation</span> de votre visite.
    </p>
    <p class="text-justify">Vous trouvez ci-dessous un <span class=wght-bold>exemple</span> de ce que vous verrez à l'écran. En dessous, vous avez un <span class=wght-bold>descriptif des collections présentées dans ces salles</span>.</p>
    <p class="text-center"><img class="img-fluid border p-3" src="public/images/site_zone/close_example.jpg" alt="exemple salles fermées"></p>
  </div>
</div>
