<div id="rooms-result-body">
  <div id="map-rooms">
    <div class="mt-1 border-bottom border-dark" id="result-es">
      <h4 class="text-uppercase text-left wght-bold mb-3 heading-title-h4">niveau -1</h4>
      <div class="map-close" id="map-es">
        <div class="bg-img w-100" id="bg--1"><img class="img-fluid p-1" src="public/images/preparation_zone/bg_es.jpg" alt="carte fond niveau -1/-2"></div>
      </div>
      <div class="legend-map mb-1" id="legend-es"></div>
    </div>
    <div class="mt-3 border-bottom border-dark" id="result-rc">
      <h4 class="text-uppercase text-left wght-bold mb-3 heading-title-h4">niveau 0</h4>
      <div class="map-bg" id="map-rc">
        <div class="bg-img" id="bg-0"><img class="img-fluid p-1" src="public/images/preparation_zone/bg_rc.jpg" alt="carte fond niveau 0"></div>
      </div>
      <div class="legend-map mb-1" id="legend-rc"></div>
    </div>
    <div class="mt-3 border-bottom border-dark" id="result-1st">
      <h4 class="text-uppercase text-left wght-bold mb-3 heading-title-h4">niveau 1</h4>
      <div class="map-bg" id="map-1st">
        <div class="bg-img" id="bg-1"><img class="img-fluid p-1" src="public/images/preparation_zone/bg_1st.jpg" alt="carte fond niveau 1"></div>
      </div>
      <div class="legend-map mb-1" id="legend-1st"></div>
    </div>
    <div class="mt-3 border-bottom border-dark" id="result-2nd">
      <h4 class="text-uppercase text-left wght-bold mb-3 heading-title-h4">niveau 2</h4>
      <div class="map-bg" id="map-2nd">
        <div class="bg-img" id="bg-2"><img class="img-fluid p-1" src="public/images/preparation_zone/bg_2nd.jpg" alt="carte fond niveau 2"></div>
      </div>
      <div class="legend-map mb-1" id="legend-2nd"></div>
    </div>
  </div>
</div>
