<div class="ml-3">
  <p>Pour accéder au musée, vous devez vous munir d'un titre d'accès. Ils peuvent être classés ainsi :</p>
  <div class="row">
    <div class="col-lg pr-3 border-right border-left">
      <h4 class="text-center wght-bold">LE BILLET</h4>
      <p class="text-justify">
        Pour les personnes devant s'acquitter du droit d'entrée. Il existe 2 types de billet :<br>
        Soit <span class="wght-bold">acheté en ligne</span> sur le site du musée ou sur un site partenaire.<br>
        Il est <span class="wght-bold">horodaté</span>.<br>
        Vous pouvez arriver dans la <span class="wght-bold">1/2 heure précédent ou suivant l'horaire</span> indiqué.<br>
        Vous avez un <span class="wght-bold">accès prioritaire</span>.<br>
        Si vous l'avez acheté <span class="wght-bold">sur le site du musée</span>, vous <span class="wght-bold">pouvez le modifier</span> via votre compte sur le site de Billeterie <span class="wght-bold">avant le jour de votre visite</span>.<br>
        Il n'est pas remboursable.<br>
        Sur le site officiel, il coûte <span class="wght-bold">17€</span>.
      </p>
      <p class="text-justify">
        Soit <span class="wght-bold">acheté sur place</span>.<br>
        Ce billet n'est <span class="wght-bold">valable que le jour de l'achat</span>.<br>
        Il n'est ni échangeable ni remboursable.<br>
        Il coûte <span class="wght-bold">15€</span>.</p>
        <p class="text-justify">Le billet vous <span class="wght-bold">donne accès aux collections 3 fois dans la journée</span> c'est-à-dire que vous pouvez vous présenter 3 fois à un point de contrôle aux entrées des collections.
    </div>
    <div class="col-lg px-3 border-right border-left">
      <h4 class="text-center wght-bold">L'ACCES LIBRE</h4>
      <p class="text-justify">Il s'agit des <span class="wght-bold">porteurs de carte</span>, voici une liste (non-exhaustive) des cartes :</p>
      <ul>
        <li>Amis du Louvre</li>
        <li>Louvre Professionnel.</li>
        <li>Carte presse (nationale ou internationale)</li>
        <li>Pass Education</li>
        <li>ICOM / ICOMOS</li>
        <li>Ministère de la culture</li>
        <li>Partenariats d'entreprises</li>
      </ul>
      <p class="text-justify">Vous avez un <span class="wght-bold">accès prioritaire</span>.</p>
    </div>
    <div class="col-lg pl-3 border-right border-left">
      <h4 class="text-center wght-bold">L'ACCES GRATUIT</h4>
      <p class="text-justify">Il s'agit de <span class="wght-bold">personnes exonérées du droit d'entrée</span> selon certains critères, cela concerne (liste non-exhaustive encore) :</p>
      <ul>
        <li>les - 18 ans.</li>
        <li>les - 26 ans résidents de l'Espace Economique Européen (EEE) [<a href="http://accueil-etrangers.gouv.fr/modeles/articles-lies/article/consultez-la-liste-des-pays-de-l">liste des pays</a>]</li>
        <li>les demandeurs d'emploi</li>
        <li>les bénéficiaires de minima sociaux</li>
        <li>les personnes en situation de handicap et leur accompagnateur</li>
      </ul>
      <p class="text-justify">
        Evidemment vous devez <span class="wght-bold">avoir un justificatif</span>.<br>
        A l'<span class="wght-bold">exception des personnes en situation de handicap</span>, vous n'avez <span class="wght-bold">pas d'accès prioritaire</span>.<span class="wght-bold"> Mais</span>, en vous rendant sur le site officiel du musée, vous avez la possibilité de <span class="wght-bold">réserver gratuitement un créneau</span> de visite qui vous permettra de l'avoir.
      </p>
    </div>
  </div>
</div>
