<div class="mx-3" id="entrance-result-body">
  <div class="d-none" id="all-titles">
    <ul class="list-inline">
      <li class="list-inline-item pl-3 mr-3 text-left text-uppercase jaune mt-1">Sans titre et Accès gratuit</li>
      <li class="list-inline-item pl-3 text-left text-uppercase bleue mt-1">Personne handicapée</li>
      <li class="list-inline-item pl-3 mr-3 text-left text-uppercase noire mt-1">Accès libre</li>
      <li class="list-inline-item pl-3 mr-3 text-left text-uppercase verte mt-1">E-billet</li>
    </ul>
    <div class="row ">
      <div class="col-lg">
        <h4 class="text-uppercase">pyramide</h4>
        <img class="img-fluid border p-1" src="public/images/entrance/pyramid_all.jpg" alt="pyramide tous">
      </div>
      <div class="col-lg">
        <h4 class="text-uppercase">carrousel</h4>
        <img class="img-fluid border p-1" src="public/images/entrance/carrousel_all.jpg" alt="carrousel tous">
      </div>
      <div class="col-lg">
        <h4 class="text-uppercase">passage richelieu</h4>
        <img class="img-fluid border p-1" src="public/images/entrance/passage_all.jpg" alt="passage richelieu tous">
      </div>
    </div>
  </div>
  <div class="d-none w-100 row" id="title-selected"></div>
</div>
