<div class="card-header p-3" id="tour-header">
  <div class="row">
    <div class="col-sm-6 text-center text-sm-left order-sm-first order-last" id="tour-title">
      <h4 class="text-uppercase"></h4>
      <h3 class="text-uppercase"></h3>
    </div>
    <div class="col-sm text-center text-sm-right order-sm-last order-first mb-1 mb-lg-0" id="tour-picture"></div>
  </div>
</div>
<div class="card-body text-center p-3" id="tour-body">
  <div class="text-center" id="tour-info">
    <p>Age : <span class="wght-bold border-right border-dark pr-1" id="tour-age"></span>  Durée : <span class="wght-bold border-right border-dark pr-1" id="tour-timing"></span> Etapes : <span class="wght-bold" id="tour-step"></span></p>
  </div>
  <div class="row align-items-center">
    <div class="col-lg" id="tour-steps"></div>
    <div class="col-lg-5 mt-3 mt-lg-0" id="tour-map"></div>
  </div>
</div>
