<div class="table-responsive text-center d-none" id="tours-result-body">
  <table class="table" id="tours-table">
    <thead class="thead-dark">
      <tr>
        <th class="text-uppercase align-text-middle" scope="col"></th>
        <th class="text-uppercase align-text-middle" scope="col">nom</th>
        <th class="text-uppercase align-text-middle" scope="col"></th>
        <th class="text-uppercase align-text-middle" scope="col">public</th>
        <th class="text-uppercase align-text-middle" scope="col">durée</th>
      </tr>
    </thead>
    <tbody id="tbody-tours"></tbody>
  </table>
</div>
