<div class="row mt-1">
    <div class="offset-lg-1 pl-0">
        <p class="text-justify">Vous avez la possibilité de voir <span class="font-weight-bold">la liste de tous les parcours</span> ou de <span class="font-weight-bold">sélectionner un jour</span> pour voir <span class="font-weight-bold">ceux qui sont réalisables</span>.
        <p class="text-justify">Pour <span class="font-weight-bold">accéder aux détails</span> d'un parcours et pouvoir le faire, vous devez<span class="font-weight-bold">être membre</span>.</p>
        <p class="text-justify">
            Quand vous cliquez sur "DETAILS", vous accédez à une <span class="font-weight-bold">"fiche parcours"</span> (exemple ci-dessous).<br>
            Vous ne pouvez <span class="font-weight-bold">enregistrer un parcours</span> que si vous avez <span class="font-weight-bold">sélectionnez un jour</span>.<br>
            Pour pouvoir <span class="font-weight-bold">faire un parcours</span>, vous devez l'<span class="font-weight-bold">enregistrer</span>. Il sera alors faisable depuis la rubrique "VISITE".
        </p>
        <div class="text-center pl-0">
            <img class="img-fluid border p-3" src="public/images/site_zone/tour_brief_example.jpg" alt="apperçu fiche tour">
        </div>
    </div>
</div>
