<div class="row ml-lg-3">
  <p class="text-center w-100"><img class="img-fluid border p-1" src="public/images/museum_zone/lost.jpg" alt="perdu"></p>
  <p class="text-justify">
    Le musée du Louvre est l'un des <span class="wght-bold">plus grand musée du monde</span> par sa superficie. Il s'agit de <span class="wght-bold">65.000 m² environ</span> d'espace d'exposition ce qui représente <span class="wght-bold">15km de galeries à parcourir</span> pour voir
    les quelques <span class="wght-bold">35.000 oeuvres</span> exposées et tout cela <span class="wght-bold">réparti sur 4 niveaux</span> !<br>
    Il est donc <span class="wght-bold">facile de se perdre</span> dans les collections...<br>
    Dans ce cas-là, <span class="wght-bold">dirigez-vous vers une fenêtre et observez</span> ce que vous voyez, en vous appuyant sur le plan et les collections autour de vous, vous devriez <span class="wght-bold">arriver à vous situer</span>.<br>
  </p>
  <p class="text-justify">
    Maintenant que vous vous savez comment vous situer, comment savoir <span class="wght-bold">à quelle niveau êtes-vous </span> ?<br>
    Le musée est dans un <span class="wght-bold">bâtiment historique</span> qui est un assemblage d'architecture réalisé à différentes époques entre le 12ème siècle et aujourd'hui. C'est pourquoi, vous allez rencontrer de <span class="wght-bold">nombreux escaliers</span> au cours de votre visite.<br>
    Mais attention, <span class="wght-bold">prendre un escalier ne veut pas</span> forcément dire que vous avez <span class="wght-bold">changé de niveau</span>, c'est là toute la complexité !<br>
    "Je vais être tout le temps perdu alors !?" pensez-vous... Mais non, car nous allons vous donner la petite "astuce" pour savoir à quel niveau vous êtes, car il existe une petite "astuce" !<br>
    Il s'agit de la <span class="wght-bold">numérotation des salles</span>. En effet, les salles ne sont pas numérotées en fonction des colllections mais <span class="wght-bold">en fonction de l'architecture</span> ce qui implique une <span class="wght-bold">numérotation différentes selon le bâtiment mais aussi l'étage</span> où vous êtes.
  </p>
  <p class="text-justify">Vous trouverez ci-dessous un tableau vous permettrant de comprendre le <span class="wght-bold">"code" des numéros de salles</span> !</p>
  <div class="table-responsive">
    <table class="table table-bordered text-uppercase text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">niveau</th>
          <th scope="col">richelieu</th>
          <th scope="col">sully</th>
          <th scope="col">denon</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">-2 / -1</th>
          <td colspan=3>100...</td>
        </tr>
        <tr>
          <th scope="row">0</th>
          <td>200...</td>
          <td>300...</td>
          <td>400...</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>500...</td>
          <td>600...</td>
          <td>700...</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>800...</td>
          <td>900...</td>
          <td>X</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="text-justify">Et voici une image d'une <span class="wght-bold">plaque de numéro de salles</span>, elles sont <span class="wght-bold">situées en hauteur</span> et en bout de salle. (si vous suivez le sens de la numérotation)</p>
  <p class="text-center w-100"><img class="img-fluid border p-1" src="public/images/museum_zone/plaque.jpg" alt="visuel numéro salle"></p>
</div>
